
.featuresParent {
   padding: 5px 10px;
   /* color: #6c737d; */
   color: var(--text);
}

.featureWrp:last-child {
   border-right: none;
}

.iconWrp {
   font-size: 2.3rem;
   color: var(--blue);
}

.title {
   color: var(--text);
}

.description {
   font-size: 0.95rem;
   padding: 0 4px;
}
