
.container {
   height: 100vh;
   background-image: url('/cover_iABDznUDy6c.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-color: #ccc;
   margin-top: 4.5rem;
}

.sectionDiv > h1 {
   font-size: 3rem;
   font-weight: bold;
   color: white;
   /* color: var(--pink) */
}

.sectionDiv > h2 {
   font-size: 1.4rem;
   font-weight: 900;
   /* color: rgba(0, 0, 0, 0.85); */
   color: var(--pink);

}

button.ctaButton {
   color: var(--pink);
   border-color: var(--pink);
}

button.ctaButton:hover,
button.ctaButton:focus {
   background-color: white;
}

button.ctaButton:focus {
   box-shadow: 0 0 0 3px rgba(205, 205, 205, 0.6);
}


@keyframes jumpInfinite {
   0% {
      margin-top: 0;
   }

   50% {
      margin-top: 20px;
   }

   100% {
      margin-top: 0;
   }
}

.downArrow {
   /* color: var(--pink); */
   color: white;
   animation: jumpInfinite 1.5s infinite;
}


/* For xs and sm */
@media (max-width: 767.99px) {
   .container {
      margin-top: 4.1rem;
   }
}

