
.cardWrp {
   min-height: 380px;
   display: flex !important;
   justify-content: center;
   /* background-color: #3182ce; */
   background-image: url('/test_w-AP7tG4LTeXA.jpg');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-color: rgba(0, 0, 0, 0.48);
   padding: 2.5rem 0;
}

.cardStyle {   
   width: 50vw;
   text-align: center;
}

.cardStyle a {
   color: var(--blue);
}


