
.sideNavUl a {
    display: block;
}

.sideNavUl a > svg {
    display: inline;
    margin-right: 5px;
    vertical-align: text-top;
}

.sideNavLi > a,
.sessionsSpan {
    padding: 12px 4vw;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--text);
    border-bottom: 1px solid #d4d7dc;
}

.sideNavLi > a:hover,
.sessionsSpan:hover {
    color: var(--blue);
    transition: color 0.2s ease;
}

.sessionsSpan {
    cursor: pointer;
    display: block;
}

.sessionsSpan::after {
    content: "⌄";
    float: right;
    transform: scale(1.6);
    padding-bottom: 3vh;
}

.sideNavInnerUl {
    clear: both;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: max-height .4s ease;
}

.sideNavInnerUl a {
    color: var(--pink);
    font-size: .98rem;
    padding: 12px 4vw;
}

.sideNavInnerUl > li:last-child a {
    color: var(--text);
}

.sideNavInnerUl a:hover {
    font-weight: bold;
    color: var(--pink);
    /* transition: color 0.2s ease; */
    /* transition: font-weight 0.2s ease; */
}

.sideNavInnerUl > li:last-child a:hover {
    color: var(--blue);
}

.sessionCheckbox {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    

.sessionCheckbox:checked + .sideNavInnerUl {
    max-height: 300px;
} 

.sideNavLi:last-child {
    padding: 1.7rem 4vw;
    font-size: 1rem;
    color: var(--text);
}

.accountDiv {
    display: flex;
}

.accountDiv a {
    display: inline-block;
}


@media (max-width: 970px) {
    .sideMenu {
        transition: max-height 0.15s ease-out;
    }

    .sideMenu.slide {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }
}

