
.mobNavSection {
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.menuBarsButton {
    cursor: pointer;
    text-align: center;
    vertical-align: text-top;
    width: 40px;
}

.menuBarsButton > span {
    font-size: 1.3rem;
    display: inline-block;
}

.rightLink {
    font-size: 1rem;
    opacity: 0.8;
    margin-right: 1rem;
}

.rightLink:hover {
    opacity: 1;
}


@media (min-width: 970px) {
    .mobNavSection {
        display: none;
    }
}
