
.mobNavSection {
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.menuBarsButton {
    cursor: pointer;
    text-align: center;
    vertical-align: text-top;
    /* height: 36px; */
    width: 40px;
}

.menuBarsButton > span {
    font-size: 1.3rem;
    display: inline-block;
}

.loginLink {
    font-size: 1rem;
    opacity: 0.8;
}

.loginLink:hover {
    opacity: 1;
}

